<div class="w3-container w3-center">


<h1>About</h1>

</div> <!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-padding-32 w3-red w3-circle w3-center">
<li>This application is comprised of five pages. The help, about, home, users, and microposts page. </li>
<li>The home page gives some information about the developer of this application. </li>
<li>The help page gives some instructions on how to use the app. The layout used for the help page can be found at <a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_layout_cell">this website.</a> </li>
<li> The about page, this page, provide some information on and links to the resources of this application. How this page was made can be found <a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_display_circle_div">here</a> </li>

</div>
</body>
</html>

<p>Find me in app/views/static_pages/about.html.erb</p>
