<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
    <h1>Help</h1>
      
  <div class="w3-bar w3-light-grey">
    <div class="w3-left w3-red w3-padding">How to</div>
      <div class="w3-right w3-orange w3-padding">Work the app</div>
  </div>
</div>
<div class="w3-container w3-center">
    <li> To access the users of the application, go to the users tab. To be a user of the app click the new user link where you will be prompted to enter your name and email. </li>
    <li> If you happen to enter your information in wrong click the edit button to make changes</li>
    <li> To delete a user click the destroy link where you will be asked, Are you sure?</li>
        
        
    </li>

</body>
</html>
<p>Find me in app/views/static_pages/help.html.erb</p>
