<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
     <h1>Home Page</h1>
       <div class="w3-container w3-green">
    <h3>Congratulations!</h3>
    <p>You have entered the home page.</p>
  </div>
<div class="w3-container">
    <li>  This application was created by <strong>Whitney Washington</strong> who is a senior at <p class="w3-jumbo">Depaul University. </p>

</li>



</body> 

<p>Find me in app/views/static_pages/home.html.erb</p>
</html>