<h1>StaticPages#home</h1>


 <body class="w3-container w3-red" >

<li>  This is the home page that holds access to all the other static pages.

</li>






</body> 


<p>Find me in app/views/static_pages/home.html.erb</p>
